/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";

body {
	margin: 0;
	margin-right: auto;
	margin-left: auto;
}

header {
	position: absolute;
}

header h1 {
	font-family: 'Ravie';
	font-size: 36px;
	color: #e90c0c;
	margin-bottom: 0;
	width: 646px;
}

#apagado {
	display: none;
}

header h2 {
	font-family: 'Trebuchet MS';
	font-size: 24px;
	color: #333;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 10px;

}

header h2 em {
	color: #d027aa;
	font-style: normal;
}

h3 {
	font-family: 'Verdana';
	font-size: 18px;
	color: #333;
	font-weight: bold;
	margin-left: 20px;
}

#recipiente {
	background-image: linear-gradient(0deg, #4599b2, #f6f1b2);
	position: relative;
	width: 800px;
	box-sizing: border-box;
	border: 1px solid;
	border-color: #d3d3d3;
	margin-left: auto;
	margin-right: auto;	
	height: 826px;
}

#conteudo {
	margin: 0 auto;
	
}

#cardapio {
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid;
	border-color: #aac0ae;
	box-sizing: border-box;
	position: absolute;
	right: -1px;
	width: 646px;
	bottom: 116px;
	top: 140px;
	font-size: 14px;
	color: #333;
	font-family: 'Verdana';
}

#lateral {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 154px;
	box-sizing: border-box;
}

#lateral h2 {
	font-family: 'Verdana';
	font-size: 48px;
	color: #333;
	font-weight: bold;
	margin-top: 365px;
	transform: rotate(-90deg);
	left: -9px;
	/*margin-bottom: auto;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;*/
}

p {
	margin-right: 20px;
	margin-left: 20px;
}

p span {
	float: right;
}

footer {
	bottom: 25px;
	position: absolute;
	right: 15px;
}

#siri {
	position: absolute;
	left: -10px;
	top: 7px;
}

#bolhas {

}

#peixe {
	position: absolute;
	left: -44px;
	bottom: 0;
}